.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 45px;
	gap: 1rem;
}

.about {
	display: flex;
	align-items: center;
	gap: 6rem;
}

.profile {
	display: flex;
	align-items: center;
	gap: 1rem;
}

ul {
	display: flex;
	margin-left: 6rem;
	gap: 1.7rem;
}
.li {
	cursor: pointer;
	transition: 0.5s;
	border-bottom: 1px solid #16446c00;
}

.li a {
	color: #000;
}

.li:hover {
	border-bottom: 1px solid #16446caf;
	opacity: 48%;
}

.img {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
}
